<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head lang="en">
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">users</title>
    <script>
        function s2() {
            console.log('xxx2');
        }
    </script>
</head>
<body>
<h1 layout:fragment="header">Messages : Create</h1>

<div layout:fragment="content" class="container">
    <h3 th:text="${name}">
    </h3>
    22
    <div layout:include="system/model :: modal" th:with="modalId='message', modalHeader='Message'" th:remove="tag">
        <p layout:fragment="modal-content">Message goes here!</p>
    </div>
</div>
</body>
</html>