<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content" th:remove="tag">
    <!-- start: JavaScript-->
    <script src="../resources/js/jquery-1.9.1.min.js" th:src="@{'/resources/js/jquery-1.9.1.min.js'}"></script>
    <script src="../resources/js/jquery-migrate-1.2.1.min.js" th:src="@{'/resources/js/jquery-migrate-1.2.1.min.js'}"></script>
    <script src="../resources/js/jquery-ui-1.10.0.custom.min.js" th:src="@{'/resources/js/jquery-ui-1.10.0.custom.min.js'}"></script>
    <script src="../resources/js/jquery.ui.touch-punch.js" th:src="@{'/resources/js/jquery.ui.touch-punch.js'}"></script>
    <script src="../resources/js/modernizr.js" th:src="@{'/resources/js/modernizr.js'}"></script>
    <script src="../resources/js/bootstrap.min.js" th:src="@{'/resources/js/bootstrap.min.js'}"></script>
    <script src="../resources/js/bootstrap.validator.js" th:src="@{'/resources/js/bootstrap.validator.js'}"></script>
    <script src="../resources/js/jquery.cookie.js" th:src="@{'/resources/js/jquery.cookie.js'}"></script>
    <script src='../resources/js/fullcalendar.min.js' th:src="@{'/resources/js/fullcalendar.min.js'}"></script>
    <script src='../resources/js/jquery.dataTables.min.js' th:src="@{'/resources/js/jquery.dataTables.min.js'}"></script>
    <script src="../resources/js/excanvas.js" th:src="@{'/resources/js/excanvas.js'}"></script>
    <script src="../resources/js/jquery.flot.js" th:src="@{'/resources/js/jquery.flot.js'}"></script>
    <script src="../resources/js/jquery.flot.pie.js" th:src="@{'/resources/js/jquery.flot.pie.js'}"></script>
    <script src="../resources/js/jquery.flot.stack.js" th:src="@{'/resources/js/jquery.flot.stack.js'}"></script>
    <script src="../resources/js/jquery.flot.resize.min.js" th:src="@{'/resources/js/jquery.flot.resize.min.js'}"></script>
    <script src="../resources/js/jquery.chosen.min.js" th:src="@{'/resources/js/jquery.chosen.min.js'}"></script>
    <script src="../resources/js/jquery.uniform.min.js" th:src="@{'/resources/js/jquery.uniform.min.js'}"></script>
    <script src="../resources/js/jquery.cleditor.min.js" th:src="@{'/resources/js/jquery.cleditor.min.js'}"></script>
    <script src="../resources/js/jquery.noty.js" th:src="@{'/resources/js/jquery.noty.js'}"></script>
    <script src="../resources/js/jquery.elfinder.min.js" th:src="@{'/resources/js/jquery.elfinder.min.js'}"></script>
    <script src="../resources/js/jquery.raty.min.js" th:src="@{'/resources/js/jquery.raty.min.js'}"></script>
    <script src="../resources/js/jquery.iphone.toggle.js" th:src="@{'/resources/js/jquery.iphone.toggle.js'}"></script>
    <script src="../resources/js/jquery.uploadify-3.1.min.js" th:src="@{'/resources/js/jquery.uploadify-3.1.min.js'}"></script>
    <script src="../resources/js/jquery.gritter.min.js" th:src="@{'/resources/js/jquery.gritter.min.js'}"></script>
    <script src="../resources/js/jquery.imagesloaded.js" th:src="@{'/resources/js/jquery.imagesloaded.js'}"></script>
    <script src="../resources/js/jquery.masonry.min.js" th:src="@{'/resources/js/jquery.masonry.min.js'}"></script>
    <script src="../resources/js/jquery.knob.modified.js" th:src="@{'/resources/js/jquery.knob.modified.js'}"></script>
    <script src="../resources/js/jquery.sparkline.min.js" th:src="@{'/resources/js/jquery.sparkline.min.js'}"></script>
    <script src="../resources/js/counter.js" th:src="@{'/resources/js/counter.js'}"></script>
    <script src="../resources/js/retina.js" th:src="@{'/resources/js/retina.js'}"></script>
    <script src="../resources/js/custom.js" th:src="@{'/resources/js/custom.js'}"></script>
    <!-- end: JavaScript-->
</body>
</html>